<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h2>Registro de Estudiante</h2>
  </div>
  <ion-item>
    <ion-label position="floating">Rut</ion-label>
    <ion-input placeholder="Ej: 20300400K" #rut></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input placeholder="Ej: Juan Aros" #nombre></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fono (fijo o celular)</ion-label>
    <ion-input placeholder="Ej: +56950403020" #fono></ion-input>
  </ion-item>
  <div *ngIf="listado.length > 0">
    <h1>Listado de contactos</h1>
    <ion-list>
      <div *ngFor="let aux of listado">
        <ion-item>
          <ion-label>{{aux[0].nombre}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{aux[0].fono}}</ion-label>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <div *ngIf="nombre1">
    <h2>Datos encontrados</h2>
    <ion-text color="primary">
      <h1>{{nombre1}}</h1>
    </ion-text>
    <ion-text color="primary">
      <h1>{{fono1}}</h1>
    </ion-text>
    <ion-button (click)="eliminar()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="agregar(rut, nombre, fono)" fill="clear">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
    <ion-button (click)="buscar(rut)" fill="clear" slot="end" >
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-button (click)="listar()" fill="clear" slot="" >
      <ion-icon slot="icon-only" name="list"></ion-icon>
    </ion-button>
    <ion-button (click)="limpiar(rut, nombre, fono)" fill="clear" slot="" >
      <ion-icon slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>